body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

.vehicle-card-container {
  margin-bottom: 1.5em; }
  .vehicle-card-container p {
    margin-bottom: 0;
    padding-top: 0;
    line-height: 1; }
  .vehicle-card-container .tracker, .vehicle-card-container .transactions, .vehicle-card-container .cash, .vehicle-card-container .pro, .vehicle-card-container .bank {
    font-weight: 600;
    color: #f6b033; }
  .vehicle-card-container .left {
    min-width: 13em;
    display: inline-block; }
  .vehicle-card-container span {
    font-size: 11px;
    letter-spacing: 0.05em; }
  .vehicle-card-container svg {
    shape-rendering: crispEdges;
    overflow: visible !important; }
    .vehicle-card-container svg .axis--x line, .vehicle-card-container svg .axis--x path {
      stroke: gray; }
    .vehicle-card-container svg .axis--x line {
      stroke-dasharray: 2,2; }
    .vehicle-card-container svg .axis--x path {
      stroke: none; }
    .vehicle-card-container svg .axis--y line, .vehicle-card-container svg .axis--y path {
      stroke: gray; }
    .vehicle-card-container svg .axis--y path {
      stroke: none; }
    .vehicle-card-container svg .axis--y text {
      text-anchor: end; }
    .vehicle-card-container svg .axis--y .tick {
      display: none; }
    .vehicle-card-container svg rect.bar {
      fill: white;
      stroke: none; }
    .vehicle-card-container svg rect.period {
      fill: #f6b033;
      stroke: none; }
    .vehicle-card-container svg rect.out-period {
      fill: #bbbbbb;
      stroke: none; }
    .vehicle-card-container svg.dark-bg rect.bar {
      fill: white; }
    .vehicle-card-container svg .handle--custom {
      shape-rendering: geometricPrecision;
      fill: "#666";
      fill-opacity: 0.8;
      stroke: white;
      stroke-width: 1.5;
      cursor: ew-resize; }

#marey-container svg {
  shape-rendering: crispEdges;
  overflow: visible; }
  #marey-container svg .axis line, #marey-container svg .axis path {
    stroke: gray; }
  #marey-container svg .axis--x text {
    text-anchor: center; }
  #marey-container svg .axis--y text {
    text-anchor: start;
    font-size: 11px;
    letter-spacing: 0.05em; }
  #marey-container svg circle {
    fill: #f6b033;
    fill-opacity: 0.5;
    stroke: white;
    stroke-opacity: 0.7;
    shape-rendering: geometricPrecision;
    cursor: pointer; }
  #marey-container svg path {
    shape-rendering: geometricPrecision;
    fill: none;
    stroke-width: 1px;
    stroke: white;
    stroke-opacity: 0.1; }
  #marey-container svg text {
    fill: white; }
  #marey-container svg .marey-tooltip {
    text-anchor: middle; }

#marey-legend-container circle {
  fill: #f6b033;
  fill-opacity: 0.5;
  stroke: white;
  stroke-opacity: 0.7;
  shape-rendering: geometricPrecision; }
#marey-legend-container text {
  font-size: 10px;
  text-anchor: middle; }

.heatmap-calendar .month-year-title-container i {
  vertical-align: middle;
  font-size: 1.5em;
  cursor: pointer; }
.heatmap-calendar .month-year-title {
  text-transform: uppercase;
  padding-left: 0.7em;
  padding-right: 0.7em; }
  .heatmap-calendar .month-year-title .month-title {
    vertical-align: middle; }
.heatmap-calendar .month-grid {
  width: 17.5em;
  margin-top: 0.5em;
  margin-bottom: 1em; }
  .heatmap-calendar .month-grid .days, .heatmap-calendar .month-grid .day-names-row {
    display: flex;
    flex-wrap: wrap; }
  .heatmap-calendar .month-grid .days {
    margin-bottom: 0.5em; }
  .heatmap-calendar .month-grid .box {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid transparent;
    margin-right: -1px;
    padding: 0.3rem 0 0;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .heatmap-calendar .month-grid .days .box {
    color: #777;
    border-radius: 0; }
    .heatmap-calendar .month-grid .days .box.invisible {
      cursor: inherit; }
    .heatmap-calendar .month-grid .days .box.active {
      color: #fff;
      cursor: pointer; }
    .heatmap-calendar .month-grid .days .box.selected {
      color: #fff;
      background-color: #4a2366;
      border-color: #f6b033;
      z-index: 999; }
  .heatmap-calendar .month-grid .day-names-row .box {
    color: #777; }

#route-pills {
  margin-top: 0.1em;
  margin-bottom: 1em; }
  #route-pills ul.nav.nav-pills {
    margin-bottom: 0.7em; }
  #route-pills .nav-item {
    font-size: 1em;
    text-align: center; }
    #route-pills .nav-item .nav-link {
      width: 2.5em;
      height: 2.5em;
      padding: 0.3rem 0 0;
      color: #fff;
      border: 2px solid transparent; }
      #route-pills .nav-item .nav-link.active {
        border-color: #f6b033; }
      #route-pills .nav-item .nav-link.light {
        color: #4a2366; }
  #route-pills .transport-group {
    margin-right: 2.5em;
    float: left; }
    #route-pills .transport-group h4 {
      margin: 0 0 0.2em;
      font-size: 1em;
      color: #6c757d;
      line-height: 1.8em; }

body {
  color: #424242; }

h3 {
  margin-top: 2em;
  margin-bottom: 1em; }

svg text {
  fill: #424242; }

a {
  color: #4a2366; }

a.dotted {
  border-bottom: 1px dotted; }
  a.dotted:hover {
    text-decoration: none;
    color: #FAA12D; }

.right-side {
  background-color: #4a2366;
  color: white;
  padding-top: 3em;
  padding-bottom: 3em; }
  .right-side text {
    fill: white; }

.padding-from-ceiling {
  padding-top: 4em; }

.padding-from-ceiling-right {
  padding-top: 0em; }

h6.header-badge {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.3em;
  border-radius: 0; }
  h6.header-badge.dark-bg {
    color: white;
    background-color: #4a2366; }
  h6.header-badge.light-bg {
    color: #4a2366;
    background-color: white; }

#map {
  height: 100vh; }
  #map .info.legend {
    width: 140px;
    height: 100px; }
    #map .info.legend svg {
      width: 140px;
      height: 100px; }
      #map .info.legend svg text {
        fill: #777;
        text-anchor: end; }
        #map .info.legend svg text.value {
          text-anchor: start; }

.summary-header {
  font-size: 1rem;
  margin-top: 0.7em;
  letter-spacing: 0.05em; }

.route-number-text {
  font-weight: 800;
  color: #f6b033; }

.bg-gps {
  background-color: #f6b033;
  color: #4a2366; }

.bg-out-of-route {
  background-color: #bbb; }

.hidden {
  display: none !important; }

.invisible {
  position: absolute;
  z-index: -999; }

.marey-container {
  background: #4a2366;
  color: white;
  margin-top: 3em; }

#marey-container {
  margin-top: 3em;
  margin-bottom: 3em; }

.footer h3 {
  font-weight: 800;
  font-size: 1.5em; }
.footer .credits {
  margin-top: 50px;
  margin-bottom: 100px; }
  .footer .credits img {
    max-width: 350px; }
  .footer .credits h3 {
    text-align: center;
    margin-top: 1em; }
.footer .share-btn {
  color: #ccc; }
.footer img.partner-logo {
  height: 70px;
  margin: 0 15px; }
.footer .partners {
  margin-bottom: 50px; }

.share-btn {
  color: white; }
  .share-btn i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 2.1em;
    height: 2.1em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 0.525em;
    font-size: 3em !important; }
  .share-btn:hover {
    color: #f6b033; }
    .share-btn:hover i {
      border-color: #f6b033; }

.nav-pills .nav-link {
  border-radius: 0 !important; }

.marey-direction-legend-container {
  display: flex;
  flex-direction: row; }

#marey-direction {
  flex-wrap: nowrap; }
  #marey-direction .nav-item a.nav-link {
    background: white;
    color: #4a2366;
    border: 4px solid transparent; }
    #marey-direction .nav-item a.nav-link.active {
      border-color: #f6b033; }

#marey-map-pills .nav-item a.nav-link {
  background: #4a2366;
  color: white;
  border: 4px solid transparent;
  border-right: 4px solid white;
  border-top: 4px solid white;
  border-left: 4px solid white; }
  #marey-map-pills .nav-item a.nav-link.active {
    border-color: #f6b033; }

.first-screen {
  height: 100vh;
  background: #4a2366 url("../image/back.png");
  background-size: contain; }
  .first-screen img.first-screen-cover {
    max-height: 100vh; }
  .first-screen .first-screen-content {
    height: 100%; }
    .first-screen .first-screen-content h1 {
      color: white;
      font-size: 5em;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.06em; }
      .first-screen .first-screen-content h1.green {
        color: #f6b033;
        letter-spacing: 0.19em; }
    .first-screen .first-screen-content .header1 {
      background: rgba(74, 35, 102, 0.8); }
    .first-screen .first-screen-content h2 {
      color: white;
      font-size: 1.7em;
      font-weight: 600;
      letter-spacing: 0.06em; }

.social-icons {
  font-size: 0.5em; }

.main-text-container {
  margin-top: 6em;
  padding-bottom: 4em; }

#lead-container {
  margin-top: 5em;
  margin-bottom: 5em; }

.left-margin-near-slider {
  padding-left: 2em; }

/*# sourceMappingURL=application.css.map */
