$color1: #4a2366;
$color2: #d4095c;
$color3: #fdfdfd;
$color4: #f6b033;
$color5: #93bf1e;

$white_color: white;

@import "base/variables";
@import "base/mixins";
@import "base/base";
$main-color: $color1;

@import "components/barchart";
@import "components/marey";
@import "components/calendar";
@import "components/route_picker";


body {
  color: $main-text;
}

h3 {
  margin-top: 2em;
}

svg {
  text {
    fill: $main-text;
  }
}

a {
  color: $color1;
}

a.dotted {
  border-bottom: 1px dotted;
  //color: #5893fa;

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

.right-side {
  background-color: $color1;
  color: $white-color;

  text {
    fill: $white-color;
  }
}


.padding-from-ceiling {
  padding-top: 4em;
}


h6.header-badge {
  display: inline-block;
  text-transform: uppercase;

  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.3em;

  border-radius: 0;

  &.dark-bg {
    color: $white_color;
    background-color: $color1;
  }

  &.light-bg {
    color: $main_color;
    background-color: $white-color;
  }
}

#map {
  height: 100%
}

.summary-header{
  text-transform: uppercase;
  font-weight: 100;
}

.bg-gps {
  background-color: #dbff79;
}

.bg-out-of-route {
  background-color: #bbb;
}

.hidden {
  display: none !important;
}

.marey-container {
  background: $color1;
  color: white;
  padding-top: 2em;
}

#marey-container {
  margin-top: 3em;
  margin-bottom: 7em
}

#map-container {
  width: 100%;
  height: 100vh;
}
//
//
//

.footer {
  h3 {
    font-weight: 800;
    font-size: 1.5em;
  }

  .credits {
    margin-top: 50px;
    margin-bottom: 100px;
    img {
      max-width: 350px;
    }

    h3 {
      text-align: center;
      margin-top: 1em;
    }
  }


  img.partner-logo {
    height: 70px;
    margin: 0 15px;
  }

  .partners {
    margin-bottom: 50px;
  }
}


.share-btn {
  color: #bdbdbd;
  i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 1.85em;
    height: 1.85em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 2.5em;
  }

  &:hover {
    color: $main-text;
    i {
      border-color: $main-text;
    }
  }
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.marey-direction-legend-container {
  display: flex;
  flex-direction: row;
}

#marey-direction {

  .nav-item {
    a.nav-link {
      background: white;

      &.active {
       background: #f6b033;
      }
    }
  }
}

//.header-block {
//  color: white;
//  background-color: $main_color;
//
//  padding-top: 2em;
//  padding-bottom: 2em;
//
//  .header-text-block {
//    max-width: 600px;
//  }
//
//  h3 {
//    margin-top: 0;
//    font-weight: 800;
//  }
//
//  margin-bottom: 2em;
//
//  a.dotted {
//    color: #afd2fa;
//  }
//}
