
#marey-container {
  //p {
  //  margin-bottom: 0;
  //  padding-top: 0.7em;
  //}

  //span.tracker {
  //  color: #c69500;
  //  font-weight:600;
  //}
  ////
  //.transactions {
  //  color: blue;
  //}
  //
  //.bank {
  //  color: green;
  //}
  //
  //.transactions {
  //  color: red;
  //}

  svg {
    shape-rendering: crispEdges;
    overflow: hidden;
    //overflow: visible;


    .axis {
      line, path {
        stroke: gray;
      }
    }

    .axis--x {
      text {
        text-anchor: end;
      }
    }

    circle {
      fill: #f6b033;
      //fill: none;
      fill-opacity: 0.3;
      stroke: white;
      stroke-opacity: 0.7;
    }


    path {
      shape-rendering: geometricPrecision;
      fill: none;
      stroke-width: 0.5px;
      stroke: white;
      stroke-opacity: 0.2;
      //stroke: none;
    }

  }

}