.vehicle-card-container {
  p {
    margin-bottom: 0;
    padding-top: 0;
    line-height: 1;
  }

  .tracker, .transactions, .cash, .pro, .bank {
    font-weight: 600;
    color: $color4;
    //display:inline-block;
    //min-width: 5em;
  }

  .left {
    min-width: 13em;
    display: inline-block;
  }


  span {
    font-size: 11px;
    letter-spacing: 0.05em;
  }

  svg {
    shape-rendering: crispEdges;
    //overflow: hidden;
    overflow: visible !important;

    //circle {
    //  fill: red;
    //  stroke: none;
    //  //opacity: 0.5;
    //  shape-rendering: auto;
    //}


    .axis--x {
      line, path {
        stroke: gray;
      }

      line {
        stroke-dasharray: 2,2;
      }

      path {stroke: none}
    }


    .axis--y {
      line, path {
        stroke: gray;
      }

      path {stroke: none}

      text {text-anchor: end}

      .tick {display: none}
    }

    rect.bar {
      fill: white;
      stroke: none;
    }

    rect.period {
      fill: $color4;
      stroke: none;
    }

    rect.out-period {
      fill: #bbbbbb;
      stroke: none;
    }

    &.dark-bg {
      rect.bar {
        fill: $white-color;
      }
    }

    .handle--custom {
      shape-rendering: geometricPrecision;
      fill: "#666";
      fill-opacity: 0.8;
      stroke: $white-color;
      stroke-width: 1.5;
      cursor: ew-resize;
    }
  }

  margin-bottom: 1.5em;
}

