.heatmap-calendar {


  .month-year-title-container {
    i {
      vertical-align: middle;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .month-year-title {
    text-transform: uppercase;

    padding-left: 0.7em;
    padding-right: 0.7em;

    .month-title {
      vertical-align: middle;
    }

  }

  $block-w: 2em;
  $block-h: 2em;

  .month-grid {
    width: $block-w * 7;
    margin-top: 0.5em;
    margin-bottom: 1em;

    .days, .day-names-row {
      display: flex;
      flex-wrap: wrap;
    }

    .days {
      margin-bottom: 0.5em;
    }

    .box {
      width: $block-w;
      height: $block-h;
      border: 4px solid transparent;
      margin-right: -2px;

      position: relative;
      align-items: center;
      justify-content: center;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .days .box {
      color: #777;
      //padding-left: 0.5em;
      //padding-top: 0rem;
      border-radius: 0;


      &.invisible {
        cursor: inherit;
      }

      &.active {
        color: $white;
        cursor: pointer;
      }

      &.selected {
        color: $white;
        font-weight: 800;
        //text-decoration: underline;
        background-color: $color1;
        border-color: #f6b033;
        z-index: 999;
      }
    }

    .day-names-row .box {
      color: #777;
    }
  }

}

