
#marey-container {
  svg {
    shape-rendering: crispEdges;
    //overflow: hidden;
    overflow: visible;


    .axis {
      line, path {
        stroke: gray;
      }
    }

    .axis--x {
      text {
        text-anchor: end;
      }
    }

    circle {
      fill: #f6b033;
      //fill: none;
      fill-opacity: 0.3;
      stroke: white;
      stroke-opacity: 0.7;
      shape-rendering: geometricPrecision;
    }


    path {
      shape-rendering: geometricPrecision;
      fill: none;
      stroke-width: 1px;
      stroke: white;
      stroke-opacity: 0.1;
      //stroke: none;
    }

    text {
      fill: white;
    }
  }
}