
#route-pills {
  margin-top: 0.1em;
  margin-bottom: 1em;

  $box-width: 2.5em;
  $box-height: 2.5em;
  $border-width: 2px;

  ul.nav.nav-pills {
    margin-bottom: 0.7em;
  }

  .nav-link.active, .show > .nav-link {
    //background-color: $color1;
  }

  .nav-item {
    font-size: 1em;

    //margin-right: 0.1em;
    //margin-bottom: 0.1em;

    text-align: center;

    .nav-link {
      width: $box-width;
      height: $box-height;
      padding: 0.3rem 0 0;

      color: $white;

      border: $border-width solid transparent;

      &.active {
        //font-weight: 800;
        //text-decoration: underline;
        border-color: #f6b033;
      }

      &.light {
        color: $color1;
      }

      //text-shadow:
      //        -0   -1px 0   $color1,
      //        0   -1px 0   $color1,
      //        -0    1px 0   $color1,
      //        0    1px 0   $color1,
      //        -1px -0   0   $color1,
      //        1px -0   0   $color1,
      //        -1px  0   0   $color1,
      //        1px  0   0   $color1,
      //        -1px -1px 0   $color1,
      //        1px -1px 0   $color1,
      //        -1px  1px 0   $color1,
      //        1px  1px 0   $color1,
      //        -1px -1px 0   $color1,
      //        1px -1px 0   $color1,
      //        -1px  1px 0   $color1,
      //        1px  1px 0   $color1;

    //  text-shadow:
    //          -0   -2px 0   $color1,
    //          0   -2px 0   $color1,
    //          -0    2px 0   $color1,
    //          0    2px 0   $color1,
    //          -2px -0   0   $color1,
    //          2px -0   0   $color1,
    //          -2px  0   0   $color1,
    //          2px  0   0   $color1,
    //          -1px -2px 0   $color1,
    //          1px -2px 0   $color1,
    //          -1px  2px 0   $color1,
    //          1px  2px 0   $color1,
    //          -2px -1px 0   $color1,
    //          2px -1px 0   $color1,
    //          -2px  1px 0   $color1,
    //          2px  1px 0   $color1,
    //          -2px -2px 0   $color1,
    //          2px -2px 0   $color1,
    //          -2px  2px 0   $color1,
    //          2px  2px 0   $color1,
    //          -2px -2px 0   $color1,
    //          2px -2px 0   $color1,
    //          -2px  2px 0   $color1,
    //          2px  2px 0   $color1;



    }
  }

  .transport-group {
    margin-right: $box_width;
    float: left;

    h4 {
      margin: 0 0 0.2em;
      font-size: 1em;
      color: #6c757d;
      line-height: 1.8em;
    }
  }
}